{% extends 'client_base.html' %}
{% block content %}
<style>
    .btn-primary{
        background-color: #FF8A00;
        border:1px solid #FF8A00;
    }

    .is-active,
    [aria-current="page"] {
      background: #333;
      color: #fff;
    }

    .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FF8A00;
    background-color: #fff;
    border: 1px solid #dee2e6;
    }

    .page-link:hover {
    z-index: 2;
    color: #FF8A00;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
    }

    .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
    }

    .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    }

    .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    }

    .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF8A00;
    border-color: #FF8A00;
    }

    .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
    }
</style>
<section class="after-head d-flex section-text-white position-relative">
            <div class="d-background" data-image-src="\static\img\serviceSelect.jpg" data-parallax="scroll"></div>
            <div class="d-background bg-black-80"></div>
            <div class="top-block top-inner container">
                <div class="top-block-content">
                    <h1 class="section-title">고객센터</h1>
                    <div class="page-breadcrumbs">
                        <a class="content-link" href="#">고객센터</a>
                        <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                        <span>공지사항</span>
                    </div>
                </div>
            </div>
</section>

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>작성일시</th>
            <th>지점</th>
            <th>댓글 수</th>

        </tr>
        </thead>
        <tbody>
        {% if notice_list %}
        {% for notice in notice_list.items %}
        <tr class="text-center">
            <td>{{ notice_list.total - ((notice_list.page-1) * notice_list.per_page) - loop.index0 }}</td>
            <td class="text-left">
                <a href="{{ url_for('services.noticeDetail', notice_id=notice.id) }}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ notice.title }}</a>
            </td>
            <td>{{ notice.date|datetime }}</td>
            {%if notice.theater_id==1 %}
                <td>강남점</td>
            {% endif %}
            {%if notice.theater_id==2 %}
                <td>이태원점</td>
            {% endif %}
            {%if notice.theater_id==3 %}
                <td>금호점</td>
            {% endif %}
            {%if notice.theater_id==4 %}
                <td>한양대점</td>
            {% endif %}
            {%if notice.theater_id==5 %}
                <td>홍대점</td>
            {% endif %}







            <td>
            {% if notice.nsa|length > 0 %}
                <span class="text-danger small ml-2">{{ notice.nsa|length }}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">공지가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if notice_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ notice_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in notice_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != notice_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if notice_list.has_next %}
        <li class="page-item" >
            <a class="page-link" href="?page={{ notice_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <!--<a href="{{ url_for('services.noticeCreate') }}" class="btn btn-primary">공지 등록하기</a>-->
</div>


{% endblock %}