{% extends "client_base.html" %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body pb-0">
          <div class="container">
            <div class="section-head">
              <h2 class="section-title text-uppercase">DMN</h2>
              <p class="section-text">
                로맨틱 멀티플렉스! 젊은 도시 강남이 한 눈에 보이는 최상의 View를
                제공
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
