{% extends "client_base.html" %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body pb-0">
          <div class="showtime-wrap" style="margin-bottom: 1rem;">
            <div class="showtime-item">
              <span
                class="btn-time btn"
                style="width: 125px; background-color: coral"
                >로그인</span
              >
            </div>
            <div class="showtime-item">
              <a
                class="btn-time btn"
                style="width: 125px; color: white"
                href="{{ url_for('auth.guest_login') }}"
                >비회원 예매</a
              >
            </div>
            <div class="showtime-item">
              <a
                class="btn-time btn"
                style="width: 125px; color: white;"
                href="{{ url_for('auth.guest_reservation') }}"
                >비회원 예매확인
            </a>
            </div>
          </div>
          <form method="post" class="post-form">
            {{ form.csrf_token }} {% include "form_errors.html" %}
            <div class="form-group">
              <label for="id">아이디</label>
              <input
                type="text"
                class="form-control"
                name="id"
                id="id"
                value="{{ form.id.data or '' }}"
              />
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                value="{{ form.password.data or '' }}"
              />
            </div>
            <input
              type="submit"
              class="form-control btn btn-outline-theme"
              style="margin-top:5px; margin-bottom: 20px"
              value="로그인"
            >
            </input>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
